.boobgoods {
  background-color: rgb(255,0,255);
  color: rgb(255,50,100)
}

.rosa {
  background-color: rgb(0,0,0);
  color: rgb(0,255,100)
}

body {
  background-color: rgb(0,150,20)
}
